body {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

header {
    display: flex;
    width: 100%;
}

.nav-lista {
    display: flex;
    list-style: none;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}